<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 경로 변수 선언 -->

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %m%n</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sql" level="INFO"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="jdbc.sqlonly" level="DEBUG"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.audit" level="WARN"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>